---

- name: Ensure GlusterFS client is installed | Redhat
  yum:
    name: '{{ item }}'
    state: installed
  with_items:
    - glusterfs-cli
    - glusterfs-client-xlators
    - glusterfs-fuse
  when: glusterfs_install_client

- name: Ensure GlusterFS server is installed | Redhat
  yum:
    name: '{{ item }}'
    state: installed
  with_items:
    - redhat-storage-server
  when: glusterfs_install_server
