DEVICE={{ item.device }}
{% if item.bootproto == 'static' %}
BOOTPROTO=none
{% endif %}
{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}
{% if item.type is defined %}
TYPE={{ item.type }}
{% else %}
TYPE=Bridge
{% endif %}
{% if item.onboot is defined %}
ONBOOT={{ item.onboot }}
{% endif %}
{% if item.address is defined %}
IPADDR={{ item.address }}
{% endif %}
{% if item.netmask is defined %}
NETMASK={{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
GATEWAY={{ item.gateway }}
{% endif %}
{% if item.devicetype is defined %}
DEVICETYPE={{ item.devicetype }}
{% endif %}
{% if item.ovs_bridge is defined %}
OVS_BRIDGE={{ item.ovs_bridge }}
{% endif %}
{% if item.stp is defined %}
STP={{ item.stp }}
{% endif %}
{% if item.userctl is defined %}
USERCTL={{ item.userctl }}
{% endif %}
{% if item.vlan is defined %}
VLAN={{ item.vlan }}
{% endif %}
{% if item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% endif %}
{% if item.dns1 is defined %}
DNS1={{ item.dns1 }}
{% endif %}
{% if item.dns2 is defined %}
DNS2={{ item.dns2 }}
{% endif %}
